/*
Fuentes tipograficas:
    font-family: 'Fuggles', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tajawal', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Open+Sans:wght@300;400;600&family=Tajawal:wght@400;700&display=swap');