$bg-1:  #000000;
$bg-2:  #212529;
$bg-3:  #454545;
$bg-4:  #D9D9D9;
$bg-5:  #000b45;
$bg-6:  #000080;
$bg-7:  #FFE6C7;
$bg-8:  #ffffff;

$color-text-1:  #000000;
$color-text-2:  #212529;
$color-text-3:  #454545;
$color-text-4:  #D9D9D9;
$color-text-5:  #000b45;
$color-text-6:  #000080;
$color-text-7:  #FFE6C7;
$color-text-8:  #ffffff;