/*-----Enlace carpeta utilities-----*/
/*Variables, mixins, funciones*/
/*se llama con inlcude el nombre del mixin y los parametros*/
/*-----Enlaces carpeta Base-----*/
/*tipografias, reset*/
@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Open+Sans:wght@300;400;600&family=Tajawal:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Fuentes tipograficas:
    font-family: 'Fuggles', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tajawal', sans-serif;
*/
/*-----Enlaces carpeta layout-----*/
header {
  position: sticky;
  top: 0;
  background-color: #000080;
  color: #ffffff;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .logo h1 {
  margin: 10px 40px;
  font-family: "Fuggles";
  font-size: 2.1875rem;
  text-align: center;
  cursor: pointer;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  padding: 1.25rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
}
header nav ul a:hover {
  background-color: #000b45;
}

main .containerPresentacion {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000080;
  padding: 1.25rem;
  height: 90vh;
  margin: 0;
}
main .containerPresentacion img {
  width: 500px;
  margin-left: 70px;
}
main .containerPresentacion .textSlogan {
  text-align: center;
  color: #ffffff;
}
main .containerPresentacion .textSlogan h1 {
  margin: 0.3125rem 50px;
  text-align: center;
  font-family: "Tajawal", sans-serif;
  font-size: 3.75rem;
}
main .containerPresentacion .textSlogan h1 span {
  font-family: "Fuggles", cursive;
  font-size: 5rem;
  font-weight: 600;
}
main .containerPresentacion .textSlogan p {
  padding: 0rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.875rem;
}
main .containerPlanes {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #000080;
}
main .containerPlanes h6 {
  margin-top: 2.5rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 3.75rem;
  color: #FFE6C7;
}
main .containerPlanes .containerCards {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
}
main .containerPlanes .containerCards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.75rem;
  width: 50%;
  border: 0.05rem solid #ffffff;
  border-radius: 0.5rem;
  color: #ffffff;
}
main .containerPlanes .containerCards .card img {
  width: 5rem;
  height: 5rem;
  margin: 0.625rem;
}
main .containerPlanes .containerCards .card h2 {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}
main .containerPlanes .containerCards .card ul li {
  margin: 0rem 0rem 0.1875rem 1.875rem;
  font-family: "Tajawal", sans-serif;
  font-size: 1.125rem;
}
main .containerPlanes .containerCards .card hr {
  width: 80%;
  margin-top: 0.625rem;
  border: 1px solid #ffffff;
}
main .containerPlanes .containerCards .card .footerCard {
  margin: 1.25rem;
  padding: 0.625rem;
  font-family: "Tajawal", sans-serif;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .containerPlanes .containerCards .card .footerCard .precios {
  display: flex;
  flex-direction: column;
}
main .containerPlanes .containerCards .card .footerCard .antes {
  text-decoration: line-through;
}
main .containerPlanes .containerCards .card .footerCard .ahora {
  color: #ffffff;
  font-weight: 600;
}
main .containerPlanes .containerCards .card .footerCard .btnObtener {
  padding: 0.625rem;
  margin: 0.625rem 1.25rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  background: rgb(238, 217, 144);
  background: linear-gradient(90deg, rgb(238, 217, 144) 0%, rgb(160, 124, 68) 35%, rgb(214, 181, 101) 100%);
  border-radius: 0.3125rem;
}
main .containerPlanes .containerCards .card .footerCard .btnObtener:hover {
  color: #000000;
}
main .containerNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .containerNosotros .bg-mision {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  padding: 0;
  background-image: url("../assets/img/mision.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main .containerNosotros .bg-vision {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  padding: 0;
  background-image: url("../assets/img/vision.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main .containerNosotros .nosotros {
  text-align: center;
  width: 31.25rem;
  margin-top: 0.625rem;
}
main .containerNosotros .nosotros h3 {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  font-size: 2.5rem;
}
main .containerNosotros .nosotros p {
  font-family: "Tajawal", sans-serif;
  font-size: 1.125rem;
}

footer .containerContacto {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  justify-content: center;
  color: #ffffff;
  background-color: #000000;
}
footer .containerContacto .NavFooter {
  margin: 2.5rem;
  padding: 0.625rem;
  width: 30%;
}
footer .containerContacto .NavFooter h6 {
  margin: 0.625rem 0rem 1.25rem 0rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
}
footer .containerContacto .NavFooter ul li {
  margin: 0.125rem;
  padding: 0.125rem;
  list-style: none;
}
footer .containerContacto .NavFooter ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
  font-size: 0.9375rem;
}
footer .containerContacto .NavFooter ul li a:hover {
  color: #D9D9D9;
  cursor: pointer;
}
footer .containerContacto form h5 {
  margin: 0.625rem 0rem 1.25rem 0rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
}
footer .containerContacto form .textmailfooter {
  display: flex;
}
footer .containerContacto form .textmailfooter .inputText1 input {
  width: 18.75rem;
  height: 1.875rem;
  margin: 0.625rem;
  padding-left: 0.3125rem;
  font-family: "Open Sans", sans-serif;
  border-style: none;
  border-radius: 0.125rem;
}
footer .containerContacto form .textmailfooter .inputText2 input {
  width: 18.75rem;
  height: 1.875rem;
  margin: 0.625rem;
  padding-left: 0.3125rem;
  font-family: "Open Sans", sans-serif;
  border-style: none;
  border-radius: 0.125rem;
}
footer .containerContacto form .inputText3 textarea {
  width: 18.75rem;
  height: 6.25rem;
  margin: 0.625rem;
  padding-left: 0.3125rem;
  font-family: "Open Sans", sans-serif;
  border-style: none;
  border-radius: 0.125rem;
}
footer .copyright {
  padding: 1.875rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
footer .copyright a {
  color: #ffffff;
}
footer .copyright a:hover {
  color: #454545;
}

.ContainerRegister {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 33, 71);
  background: linear-gradient(207deg, rgb(0, 33, 71) 0%, rgb(0, 0, 128) 39%, rgb(84, 114, 242) 100%);
}
.ContainerRegister .Intro {
  width: 60%;
  margin: 0rem 0.3125rem 0rem 6.25rem;
  color: #FFE6C7;
}
.ContainerRegister .Intro h2 {
  margin: 0.625rem;
  padding: 0.625rem;
  font-family: "Tajawal", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}
.ContainerRegister .Intro p {
  margin: 0.625rem;
  padding: 0.625rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.ContainerRegister .ContainerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 1.25rem;
}
.ContainerRegister .ContainerForm .HeaderForm h1 {
  font-family: "Fuggles";
  font-size: 3.75rem;
  color: #FFE6C7;
}
.ContainerRegister .ContainerForm .InputsForm .InputInsert {
  display: flex;
  justify-content: center;
  width: 18.75rem; /*300px*/
  margin: 0.625rem;
  padding: 0.625rem 0rem 0.625rem 2.5rem; /*10px 0px 10px 40px*/
  font-family: Verdana, sans-serif;
  font-size: 1rem; /*16px*/
  color: #D9D9D9;
  border-style: none;
  border: 0.5px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.3125rem; /*5px*/
  outline-style: none;
}
.ContainerRegister .ContainerForm .InputsForm img {
  position: absolute;
  width: 1.25rem; /*20px*/
  height: 1.25rem; /*20px*/
  margin: 1.3125rem 0rem 0rem 1.25rem; /*12px 0px 0px 10px*/
}
.ContainerRegister .ContainerForm .InputSend {
  width: 18.75rem; /*300px*/
  padding: 0.625rem; /*10px*/
  margin: 0.625rem auto; /*10px auto*/
  font-family: Verdana, sans-serif;
  font-size: 1rem; /*16px*/
  color: #FFE6C7;
  background-color: #000000;
  border-radius: 0.125rem; /*2px*/
  border-style: none;
}
.ContainerRegister .ContainerForm .InputSend:hover {
  cursor: pointer;
  background-color: #212529;
}
.ContainerRegister .ContainerForm .linklogin {
  color: #FFE6C7;
  font-family: "Open Sans", sans-serif;
}
.ContainerRegister .ContainerForm .linklogin:hover {
  text-decoration: none;
}

.ContainerLogin {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 33, 71);
  background: linear-gradient(207deg, rgb(0, 33, 71) 0%, rgb(0, 0, 128) 39%, rgb(84, 114, 242) 100%);
}
.ContainerLogin .Intro {
  width: 60%;
  margin: 0rem 0rem 0rem 6.25rem;
  color: #FFE6C7;
}
.ContainerLogin .Intro h2 {
  margin: 0.625rem;
  padding: 0.625rem;
  font-family: "Tajawal", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}
.ContainerLogin .Intro p {
  margin: 0.625rem;
  padding: 0.625rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.ContainerLogin .ContainerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 1.25rem;
}
.ContainerLogin .ContainerForm .HeaderForm h1 {
  font-family: "Fuggles";
  font-size: 3.75rem;
  color: #FFE6C7;
}
.ContainerLogin .ContainerForm .InputsForm .InputInsert {
  display: flex;
  justify-content: center;
  width: 18.75rem; /*300px*/
  margin: 0.625rem;
  padding: 0.625rem 0rem 0.625rem 2.5rem; /*10px 0px 10px 40px*/
  font-family: Verdana, sans-serif;
  font-size: 1rem; /*16px*/
  color: #D9D9D9;
  border-style: none;
  border: 0.5px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.3125rem; /*5px*/
}
.ContainerLogin .ContainerForm .InputsForm img {
  position: absolute;
  width: 1.25rem; /*20px*/
  height: 1.25rem; /*20px*/
  margin: 1.3125rem 0rem 0rem 1.25rem; /*12px 0px 0px 10px*/
}
.ContainerLogin .ContainerForm .InputSend {
  width: 18.75rem; /*300px*/
  padding: 0.625rem; /*10px*/
  margin: 0.625rem auto; /*10px auto*/
  font-family: Verdana, sans-serif;
  font-size: 1rem; /*16px*/
  color: #FFE6C7;
  background-color: #000000;
  border-radius: 0.125rem; /*2px*/
  border-style: none;
}
.ContainerLogin .ContainerForm .InputSend:hover {
  cursor: pointer;
  background-color: #212529;
}

.headerDash {
  background-color: #000080;
  color: #ffffff;
  z-index: 1;
}
.headerDash .navDash {
  display: flex;
  justify-content: space-between;
}
.headerDash .navDash .logoDash h1 {
  margin: 0.3125rem;
  padding: 0.3125rem;
  font-family: "Fuggles";
  font-size: 2.1875rem;
  text-align: center;
  cursor: pointer;
}
.headerDash .navDash .ulDash {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerDash .navDash .ulDash li {
  list-style: none;
}
.headerDash .navDash .ulDash li a {
  padding: 1.25rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
}
.headerDash .navDash .ulDash a:hover {
  background-color: #000b45;
}

main .tabsEmpleados {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
}
main .tabsEmpleados form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .tabsEmpleados form p {
  margin: 3.125rem 0rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.875rem;
}
main .tabsEmpleados form .InputsGroup {
  display: flex !important;
  margin: 0.625rem;
}
main .tabsEmpleados form .InputsGroup .InputsForm {
  width: 18.75rem;
  height: 2.5rem;
  padding: 0.125rem 0.625rem;
  border-radius: 0.3125rem;
  border-style: none;
}
main .tabsEmpleados form .FormSelect {
  margin: 0.625rem;
  width: 18.75rem;
  height: 2.5rem;
  padding: 0.125rem 0.625rem;
  border-radius: 0.3125rem;
  border-style: none;
}
main .tabsEmpleados form .FormSelect option {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}
main .tabsEmpleados form .contenedorGeo {
  width: 100%;
  z-index: 0;
}
main .tabsEmpleados form .contenedorGeo .contenedorSearch {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0.625rem;
}
main .tabsEmpleados form .contenedorGeo .contenedorSearch img {
  width: 0.9375rem;
  height: 1.25rem;
  margin-left: 280px;
  padding: 12px;
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
main .tabsEmpleados form .contenedorGeo .contenedorSearch img:hover {
  cursor: pointer;
}
main .tabsEmpleados form .contenedorGeo .contenedorSearch .search {
  width: 18.75rem;
  height: 2.5rem;
  padding: 0.125rem 0.625rem;
  border-radius: 0.3125rem;
  border-style: none;
}
main .tabsEmpleados form .contenedorGeo .contenedorResultados .list-group {
  width: 50%;
  margin: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #E5E7E9;
}
main .tabsEmpleados form .contenedorGeo .contenedorResultados .list-group-item {
  margin: 0rem 0rem 0.3125rem 0.625rem;
  font-family: arial;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  list-style: none;
  border-radius: 0.125rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  padding: 0.3125rem;
}
main .tabsEmpleados form .contenedorGeo .contenedorResultados .list-group-item:hover {
  text-decoration: none;
}
main .tabsEmpleados form .contenedorGeo .contenedorResultados .active {
  color: red;
}
main .tabsEmpleados form .contenedorGeo .contenedorResultados .map {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tabsEmpleados form .contenedorGeo .contenedorResultados #map-container {
  width: 70%;
  height: 50vh;
}
main .tabsEmpleados form .contenedorGeo .contenedorResultados .displayNone {
  display: none;
}
main .tabsEmpleados form .contenedorGeo .contenedorResultados .displayContent {
  display: block;
}
main .tabsEmpleados form .BtnEmpleados {
  margin: 1.25rem;
  padding: 0.625rem 1.25rem;
  color: #ffffff;
  background-color: #000000;
  border-style: none;
  border-radius: 5px;
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
}
main .tabsEmpleados form .BtnEmpleados:hover {
  cursor: pointer;
  background-color: #212529;
}
main .tabsEmpleados p {
  margin: 3.125rem 0rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.875rem;
}
main .tabsEmpleados .TableEmpleados {
  width: 80%;
  margin-bottom: 80px;
  border-collapse: collapse;
  border: 1px solid #ffffff;
}
main .tabsEmpleados .TableEmpleados thead th {
  font-family: "Tajawal", sans-serif;
  font-size: 1.125rem;
  color: #ffffff;
  background-color: #000000;
  padding: 0.3125rem;
  border: 1px solid #ffffff;
}
main .tabsEmpleados .TableEmpleados tbody td {
  padding: 0.3125rem;
  font-family: "Tajawal", sans-serif;
  font-size: 1.125rem;
  text-align: center;
  color: #ffffff;
  background-color: #454545;
  border: 1px solid #ffffff;
}
main .tabsEmpleados .TableEmpleados tbody td .editar {
  color: green;
}
main .tabsEmpleados .TableEmpleados tbody td .eliminar {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.contenedorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: cadetblue;
}

.logo h1 {
  font-family: arial;
  font-size: 25px;
  color: white;
}

nav ul li {
  font-family: arial;
  list-style: none;
  color: white;
}

main .tabsFirmas .firmas {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .tabsFirmas .firmas p {
  margin: 3.125rem 0rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.875rem;
}
main .tabsFirmas .firmas form {
  width: 80%;
  margin-bottom: 10px;
}
main .tabsFirmas .firmas form span img {
  width: 20px;
  height: 20px;
  margin: 5px;
  position: absolute;
}
main .tabsFirmas .firmas form input {
  width: 18.75rem;
  height: 1.875rem;
  padding-left: 30px;
}
main .tabsFirmas .firmas .TableFirmas {
  width: 80%;
  margin-bottom: 80px;
  border-collapse: collapse;
  border: 1px solid #ffffff;
}
main .tabsFirmas .firmas .TableFirmas thead th {
  font-family: "Tajawal", sans-serif;
  font-size: 1.125rem;
  color: #FFE6C7;
  background-color: #ffffff;
  padding: 0.3125rem;
  border: 1px solid #FFE6C7;
}
main .tabsFirmas .firmas .TableFirmas tbody td {
  padding: 0.3125rem;
  font-family: "Tajawal", sans-serif;
  font-size: 1.125rem;
  text-align: center;
  color: #FFE6C7;
  background-color: #D9D9D9;
  border: 1px solid #FFE6C7;
}

main .contenedor #pestanas {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
}
main .contenedor #pestanas li {
  list-style-type: none;
  float: left;
  text-align: center;
  margin: 0rem 0rem -0.125rem 0rem;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  border: 1px solid #D9D9D9;
  border-bottom: #D9D9D9;
  padding: 0.9375rem 0rem;
}
main .contenedor #pestanas li a:link {
  text-decoration: none;
  color: #000000;
  padding: 0.9375rem 1.875rem;
}
main .contenedor #contenidopestanas {
  clear: both;
  background: #D9D9D9;
}

/*------Enlaces Responsive Carpeta layout/media-----*/
/*Media Query de 1024px(laptos)*/
/*Media Query de 768px(tablets)*/
/*Media Query de 425px(Celular)*/

/*# sourceMappingURL=estilos.css.map */
