main{
    .contenedor{
        #pestanas{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.125rem;
            li{
                list-style-type: none;
                float: left;
                text-align: center;
                margin: 0rem 0rem -0.125rem 0rem;
                border-top-left-radius: .3125rem;
                border-top-right-radius: .3125rem;
                border: 1px solid $bg-4;
                border-bottom: $bg-4;
                padding: .9375rem 0rem;
                a:link{
                    text-decoration: none;
                    color: $color-text-1;
                    padding: .9375rem 1.875rem;
                }
            }
        }
        #contenidopestanas{
            clear: both;  
            background: $bg-4;
        }
    }
}