main{
    .content{
        .containerInformes{
            width: 100%;
            @include grid(20% 80%, 100vh, "header informes");
            .headerInformes{
                grid-area: header;
                color: $color-text-8;
                background-color: $bg-6;
                h2{
                    margin: .625rem 0rem;
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size: 1.5625rem;
                }
                nav{
                    ul{
                        li{
                            display: flex;
                            flex-direction: column;
                            padding: 5px;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400;
                            font-size: 15px;
                            list-style: none;
                            overflow: hidden;
                            .btnDesplegar{
                                display: flex;
                                margin-left: 15px;
                                img{
                                    width: 1.25rem;
                                    height: 1.25rem;
                                    margin-right: .625rem;
                                }
                                p{
                                    font-family: 'Open Sans', sans-serif;
                                    font-weight: 700;
                                    font-size: 18px;
                                }                                
                            }
                            .btnDesplegar:hover{
                                cursor: pointer;
                            }
                            .subMenu{                          
                                margin-left: 2.5rem;
                                transition: height .4s;
                                height: 0;
                                li{
                                    font-family: 'Open Sans', sans-serif;
                                    font-weight: 400;
                                    font-size: 15px;
                                }
                            }
                        }
                        
                    }
                }
            }
            .informes{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                grid-area: informes;      
            }
        }
    }   
}