.headerDash{
    background-color: $bg-6;
    color: $color-text-8;
    z-index: 1;
    .navDash{
        display: flex;
        justify-content: space-between;
        .logoDash{
            h1{
                margin: .3125rem;
                padding: .3125rem;
                font-family: 'Fuggles';
                font-size: 2.1875rem;
                text-align: center;
                cursor: pointer;
            }
        }
        .ulDash{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                list-style: none;
                a{
                    padding: 1.25rem;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $color-text-8;
                }
            }
            a:hover{
                background-color: $bg-5;
            }
        }
    }
}